.landingbody {
    font-family: 'League Spartan', sans-serif;
    margin: 200px 0;
    border-radius: 20%;
    background-image: linear-gradient(rgb(248,248,253), rgb(253,252,253));
}

.landingheader {
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: center;
}

@keyframes slideDownFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.landingtitle{
    animation: slideDownFadeIn 3s ease-out;
    margin: 0;
    padding: 10px;
    font-size: 4em; 
    color: rgb(186,77,247);
    text-shadow: 2px 2px 2px #ccc;
}

.landingdescription {
    color: rgb(82,118,247);
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #ccc;
}

.navItem {
    display: inline-block;
    margin-right: 50px;
}

.navItem a {
    color: rgb(82,118,247);
    text-decoration: none;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #ccc;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navItem a:hover {
    background-color: rgb(82,118,247);
    color: white;
    text-decoration: none;
    text-decoration-color: navy;
}

